*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml
# === Big data kept outside git ===
pt2matsim/data/osm/*.osm
pt2matsim/data/**/stop_times.txt
pt2matsim/data/**/shapes.txt
# 可選：避免巨型輸出物不小心被版控
pt2matsim/out/**/*.geojson
